<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>controller.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerController</servlet-name>
        <servlet-class>controller.CustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverController</servlet-name>
        <servlet-class>controller.DriverController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleController</servlet-name>
        <servlet-class>controller.VehicleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>controller.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MapsController</servlet-name>
        <servlet-class>controller.MapsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AIController</servlet-name>
        <servlet-class>controller.AIController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingController</servlet-name>
        <servlet-class>controller.BookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerBookingController</servlet-name>
        <servlet-class>controller.CustomerBookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminVehicleController</servlet-name>
        <servlet-class>controller.AdminVehicleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerWalletController</servlet-name>
        <servlet-class>controller.CustomerWalletController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerNotificationController</servlet-name>
        <servlet-class>controller.CustomerNotificationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerInvoiceController</servlet-name>
        <servlet-class>controller.CustomerInvoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminVoucherController</servlet-name>
        <servlet-class>controller.AdminVoucherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DispatcherBookingController</servlet-name>
        <servlet-class>controller.DispatcherBookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverDispatchController</servlet-name>
        <servlet-class>controller.DriverDispatchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverTripController</servlet-name>
        <servlet-class>controller.DriverTripController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DispatcherMapController</servlet-name>
        <servlet-class>controller.DispatcherMapController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardController</servlet-name>
        <servlet-class>controller.AdminDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRatingController</servlet-name>
        <servlet-class>controller.AdminRatingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCustomerLockController</servlet-name>
        <servlet-class>controller.AdminCustomerLockController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAuditLogController</servlet-name>
        <servlet-class>controller.AdminAuditLogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerRatingController</servlet-name>
        <servlet-class>controller.CustomerRatingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverRatingController</servlet-name>
        <servlet-class>controller.DriverRatingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarketingEmailController</servlet-name>
        <servlet-class>controller.MarketingEmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerComplaintController</servlet-name>
        <servlet-class>controller.CustomerComplaintController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DispatcherConplaintController</servlet-name>
        <servlet-class>controller.DispatcherConplaintController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PricingRuleController</servlet-name>
        <servlet-class>controller.PricingRuleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HolidayController</servlet-name>
        <servlet-class>controller.HolidayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalPaymentController</servlet-name>
        <servlet-class>controller.FinalPaymentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VNPayController</servlet-name>
        <servlet-class>controller.VNPayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DispatcherNotificationController</servlet-name>
        <servlet-class>controller.DispatcherNotificationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDriverController</servlet-name>
        <servlet-class>controller.AdminDriverController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerRatingHistoryController</servlet-name>
        <servlet-class>controller.CustomerRatingHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverRatingHistoryController</servlet-name>
        <servlet-class>controller.DriverRatingHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerComplaintHistoryController</servlet-name>
        <servlet-class>controller.CustomerComplaintHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDispatcherController</servlet-name>
        <servlet-class>controller.AdminDispatcherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DispatcherDriverController</servlet-name>
        <servlet-class>controller.DispatcherDriverController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LandmarkController</servlet-name>
        <servlet-class>LandmarkController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLandmarkController</servlet-name>
        <servlet-class>controller.AdminLandmarkController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefreshTokenController</servlet-name>
        <servlet-class>controller.RefreshTokenController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerComplaintTimelineController</servlet-name>
        <servlet-class>controller.CustomerComplaintTimelineController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/AccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerController</servlet-name>
        <url-pattern>/CustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverController</servlet-name>
        <url-pattern>/DriverController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleController</servlet-name>
        <url-pattern>/VehicleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/ForgotPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MapsController</servlet-name>
        <url-pattern>/MapsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AIController</servlet-name>
        <url-pattern>/AIController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingController</servlet-name>
        <url-pattern>/BookingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerBookingController</servlet-name>
        <url-pattern>/CustomerBookingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminVehicleController</servlet-name>
        <url-pattern>/AdminVehicleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerWalletController</servlet-name>
        <url-pattern>/CustomerWalletController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerNotificationController</servlet-name>
        <url-pattern>/CustomerNotificationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerInvoiceController</servlet-name>
        <url-pattern>/CustomerInvoiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminVoucherController</servlet-name>
        <url-pattern>/AdminVoucherController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DispatcherBookingController</servlet-name>
        <url-pattern>/DispatcherBookingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverDispatchController</servlet-name>
        <url-pattern>/DriverDispatchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverTripController</servlet-name>
        <url-pattern>/DriverTripController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DispatcherMapController</servlet-name>
        <url-pattern>/DispatcherMapController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboardController</servlet-name>
        <url-pattern>/AdminDashboardController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRatingController</servlet-name>
        <url-pattern>/AdminRatingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCustomerLockController</servlet-name>
        <url-pattern>/AdminCustomerLockController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAuditLogController</servlet-name>
        <url-pattern>/AdminAuditLogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerRatingController</servlet-name>
        <url-pattern>/CustomerRatingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverRatingController</servlet-name>
        <url-pattern>/DriverRatingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarketingEmailController</servlet-name>
        <url-pattern>/MarketingEmailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerComplaintController</servlet-name>
        <url-pattern>/CustomerComplaintController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DispatcherConplaintController</servlet-name>
        <url-pattern>/DispatcherConplaintController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PricingRuleController</servlet-name>
        <url-pattern>/PricingRuleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HolidayController</servlet-name>
        <url-pattern>/HolidayController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalPaymentController</servlet-name>
        <url-pattern>/FinalPaymentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DispatcherNotificationController</servlet-name>
        <url-pattern>/DispatcherNotificationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDriverController</servlet-name>
        <url-pattern>/AdminDriverController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/ChangePasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerRatingHistoryController</servlet-name>
        <url-pattern>/CustomerRatingHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverRatingHistoryController</servlet-name>
        <url-pattern>/DriverRatingHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerComplaintHistoryController</servlet-name>
        <url-pattern>/CustomerComplaintHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDispatcherController</servlet-name>
        <url-pattern>/AdminDispatcherController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DispatcherDriverController</servlet-name>
        <url-pattern>/DispatcherDriverController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LandmarkController</servlet-name>
        <url-pattern>/LandmarkController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLandmarkController</servlet-name>
        <url-pattern>/AdminLandmarkController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefreshTokenController</servlet-name>
        <url-pattern>/RefreshTokenController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerComplaintTimelineController</servlet-name>
        <url-pattern>/CustomerComplaintTimelineController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
